
<div id="SingleQuestion">
<h1>Single Question</h1>
<%= form_for :question do |form| %> 

<%= form.label :subject %>
<%= form.select :subject, @scode %>
<%= form.label :topic %>
<%= form.select :topic, @tcode %>
 <p class="actions">
    <%= form.submit 'Generate Single Question'%>
 </p>
<% end %>
</div>
<div id="QuestionPaper">
<h1>Question Paper</h1>
<%= form_for :question do |form| %> 
<p>
	<%= form.label :year %>
	<%= form.select :year,  (1960..2014) %>
</p>
<p class="actions">
    <%= form.submit 'Generate Question Paper'%>
</p>
<% end %>
</div>