<h1>Question Paper</h1>
<%= form_for(:question) do |f| %>

<% @scodes.each do |s| %>
<% unless s.scode == 0  #to prevent All from showing up %>
<h2> <%= s.sname %> </h2>
<% @sub[s.scode].each do |question| %> 
<p><%= question.question.html_safe %></p>
 
<p> 
<%= f.label "Option: " %>
<%= f.radio_button :option, "A" %>
<%= f.label "#{question.opa}" %>
<%= f.radio_button :option, "B" %>
<%= f.label "#{question.opb}" %>
<%= f.radio_button :option, "C" %>
<%= f.label "#{question.opc}" %>
<%= f.radio_button :option, "D" %>
<%= f.label "#{question.opd}" %>
</p>

<% end %>
<% end %>
<% end %>
<p class = "actions">
<%= f.submit 'Submit Paper' %> 
</p>
<% end %>
<p> Go back to
  <%= link_to "home", random_index_path %>
</p>